.contact-wrapper{
    display: flex;
    column-gap: 15px;
    justify-content: center;
    width: 90%;
    max-width: 1150px;
    margin: 0 auto;
}
.center{
    text-align: center;
}
@media  screen and (max-width: 600px) {
    .contact-wrapper{
        display: block;
    }
}