<div class="panel panel-default">
    <div class="panel-heading">
        <div class="d-flex">
            <h1 class="m-0">Contacts</h1>
            <a [routerLink]="['new']" class="btn btn-success">New Contact</a>
        </div>
    </div>
    <div class="panel-body">
        <div class="col-xs-12">
            <app-list-item 
                *ngFor="let contactEl of contacts"
                [contact]="contactEl"
                dnd-draggable
                [dragEnabled]="true"
                [dragData]="contactEl"
                [dropZones]="['contactGroup']"
            ></app-list-item>
        </div>
    </div>
</div>
